import authenticate

# API url variables
url = 'https://api.trello.com/1/'
url_lists = url + 'lists/'
url_cards = url + 'cards/'
url_members = url + 'members/me/boards'
url_boards = url + 'boards/'
tokens = '?key=%s&token=%s' % (authenticate.trello_api_key, authenticate.trello_api_token)

# Boards / Lists to check if you need to statically list them
trello_boards = [
  {
    'name': 'Board Name',
    'id': 'Board Id',
    'lists': [
      {
        'name': 'List Name',
        'id': 'List Id'
      }
    ]
  }
]
