import secrets

# API url variables
url = 'https://api.trello.com/1/'
url_lists = url + 'lists/'
url_cards = url + 'cards/'
url_members = url + 'members/me/boards'
url_boards = url + 'boards/'
tokens = '?key=%s&token=%s' % (secrets.trello_api_key, secrets.trello_api_token)

# Boards / Lists to check if you need to statically list them
trello_boards = [
  {
    'name': 'Board Name',
    'id': 'Board Id',
    'lists': [
      {
        'name': 'List Name',
        'id': 'List Id'
      }
    ]
  }
]

# The trello_boards object could be built programmatically if boards and lists are named consistently. An example is below but is not used to pull this report.
def get_trello_boards():
  trello_boards = []
  boards_json = requests.request('GET', trello.url_members + trello.tokens).json()
  for b in boards_json:
    if b['name'].startswith('Support -'):
      lists_json = requests.request('GET', trello.url_boards + b['id'] + '/lists' + trello.tokens).json()
      for l in lists_json:
        if 'Waiting' in l['name']:
          trello_boards.append({
            'name': b['name'], 'id': b['id'], 'lists': [
              {'name': l['name'], 'id': l['id']}
            ]
          })
  return trello_boards
